.logo {
    height: 100px;
}
.sportim-logo {
    color: #fff;
    float: left;
    font-family: 'Exo', sans-serif;
    padding: 5%;
}
.sportim-logo span{
    color: #0078e7 !important;
}
.header {
    padding: .3em 0;
    background-color: #444;
    color: #fff;
}
#top-menu {
    color: #fff;
    background-color: #444;
    text-align: right;
    padding-top:5%;
}
#top-menu.pure-menu li a:hover{
    background-color: #555;
}
#top-menu.pure-menu a{
    color: #fff;
}
.context-header {
    padding: .3em 0;
    margin-bottom: 1em;
    background-color: #777;
    color: #fff;
    border-bottom: 1px solid #e5e5e5;
}
#context-menu {
    color: #fff;
    background-color: #777;
    text-align: right;
}
#context-menu.pure-menu li a:hover{
    background-color: #999;
}
#context-menu.pure-menu a{
    color: #fff;
}
.error-header {
    display: none;
    font-family: 'Exo', sans-serif;
    font-size: 20pt;
    text-align: center;
    padding: .3em 0;
    margin-bottom: 1em;
    background-color: #ee3333;
    color: #fff;
    border-bottom: 1px solid #e5e5e5;
}
.button-yellow {
    background-color: #ffdd00;
}
.button-red {
    background-color: #ee3333;
}
.button-green {
    background-color: #33ee33;
}
.float-right {
    float: right;
}
.top-container {
    text-align: center;
    font-size: 20pt;
}
.match-item {
    width: 100%;
    padding: 5px 0px;
}
#input-modal{
    background-color: #ccc;
    width: 600px;
    border-radius: 10px;
    position: absolute;
    top: 30%;
    left: 30%;
    z-index: 1000;
}
.match-datetime, .match-team-alone {
    border: 1px solid #999;
}
.match-team { 
    border-bottom: 1px solid #999;
    border-left: 1px solid #999;
    border-right: 1px solid #999;
    height: 35px;
}
.match-teamlogo {
    width: 32px;
    height: 32px;
    vertical-align: middle;
}
.match-container {
    width: 80%;
    margin: 0 auto;
}
#page-cover {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 999;
    top: 0;
    left: 0;
    opacity: 0.6;
}

.table-header {
    margin-top: 10px;
    border-bottom: 1px solid #000;
}
.table-row {
    min-height: 40px;
    line-height: 40px;
}
.ui-timepicker-wrapper {
    z-index: 1001;
    background-color: #fff;
}
