#homeTeam {
	display: none;
}
#awayTeam {
	display: none;
}
#homeLabel {
	display: none;
}
#awayLabel {
	display: none;
}
.participants-list {
    height: 300px;
    overflow-y: scroll;
}
div.selectize-input {
    width: 100%;
}
.chartHolder {
    text-align: center;
}
.teamNames h2 {
    font-size: 1.45em;
}
