.feed-head {
    color: #fff;
    border: #d9d9d9 solid 1px;
    border-top: none;
    background-color: #0078e7;
    height: 48px;
    line-height: 48px;
    font-size: 18px;
    font-weight: normal;
    text-align: center;
    margin: 0;
}

.feeds-container {
    margin-bottom: 50px;
    max-width: 900px;
}

.feeds {
    border: 1px #CDCDCD solid;
}

.feeds ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.feeds li {
    padding: 14px 15px;
    font-size: 13px;
    background-color: #33CCFF;
    position: relative;
    background: #FFFFFF;
    border-bottom: 1px solid #ccc;
}

.feeds li.odd {
}

.feed-event-title {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    margin-top: 15px;
}

.feed-event-date {
    display: inline-block;
    text-align: center;
}

.feed-event-day {
    display: block;
    font-size: 2em;
}

.feed-event-month {
    color: #777;
    font-size: 1.5em;
}

.feed-event-time-start {
    display: block;
    color: #777;
    font-size: 1.5em;
}
.feed-event-time-end {
    color: #777;
    font-size: 1.5em;
}
