.feed-head {
    color: #fff;
    border: #d9d9d9 solid 1px;
    border-top: none;
    background-color: #0078e7;
    height: 48px;
    line-height: 48px;
    font-size: 18px;
    font-weight: normal;
    text-align: center;
    margin: 0;
}

.feeds-container {
    height: 540px;
}

.feeds {
    border: 1px #CDCDCD solid;
}

.feeds ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.feeds li {
    padding: 14px 15px;
    font-size: 13px;
    background-color: #33CCFF;
    position: relative;
    background: #FFFFFF;
}

.feeds li.odd {
    background: #f7f7f7;
}

.feed-event-title {
    font-size: 15px;
    font-weight: bold;
}
