#tourn-title {
    width: 300px;
    font-size: 24px;
    margin-left:35%;
    margin-bottom:15px;
    text-align: center;
}

.tourn-option {
    width: 60%;
}

.options-container {
    text-align: center;
}

.game-container {
    margin: 10px;
    width: 300px;
    display: inline-block;
}
