.soccer-field {
    max-width: 100%;
    height: 2000px;
    background-image: url('../images/soccerfield.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.match-time {
    font-size: 18pt;
    padding-top: 8px;
    display: block;
    line-height: 0;
}

.match-period {
    padding-right: 5px;
    font-size: 12pt;
}

.soccerball {
    width: 32px;
    height: 32px;
    z-index: 100;
}
#player-modal {
    background-color: #ccc;
    width: 255px;
    padding: 5px 5px 5px 5px;
    border-radius: 10px;
    position: absolute;
    display: none;
}
#player-modal .pure-button{
    display: inline-block;
    width: 50px;
}
#player-modal:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 120px;
    border-top: 10px solid #ccc;
    border-top-color: #ccc;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}

.player-name {
    font-size: 10pt;
    text-align: left;
}

.match-time-container {
    display: inline-block;
    padding-left: 2px;
    padding-right: 2px;
    margin-left: -12px;
    margin-right: 0px;
    min-width: 90px;
}

.darker-blue {
    background-color: #004A8C;
    color: #FFF;
    font-weight: bolder;
}

.lighter-blue {
    background-color: #7AC0FF;
    color: #000;
    font-weight: bolder;
}

.endline-area {
    width: 8%;
    height: 100%;
    display: inline-block;
}
.goalfront-area {
    width: 4%;
    height: 100%;
    display: inline-block;
}
.goalfront-area-left {
    margin-left: -3px;
}
.goalfront-area-right {
    margin-right: -3px;
}
.middle-area {
    width: 76%;
    height: 100%;
    display: inline-block;
}
.corner-area {
    height: 10%;
    opacity: 0.8;
}
.endline-space-area {
    height: 23%;
}
.offtarget-area {
    height: 9%;
    opacity: 0.8;
}
.goal-area, .ontarget-area {
    height: 16%;
    opacity: 0.8;
}
.space-area {
    height: 42%;
}

#resetHeader {
    background-color: #777;
}

#selectHeader {
    display: block;
    border-bottom-width: 0px;
    margin-bottom: 2px;
}

.passing-button {
    float: left;
}
