#team-name {
    text-align: center;
    font-size: 26px;
}

#team-owner {
    text-align: center;
    font-size: 20px;
}

.odd {
    background-color: #eee;
}

.player-add-div {
    margin-top: 40px;
}
