<div class="pure-g">
    <div class="pure-u-1-4">
    </div>
    <div class="pure-u-1-2">
        <h2>{{league.name}}</h2>
        <div class="pure-g">
            <div class="pure-u-1-3">{{league.id}}</div>
            <div class="pure-u-1-3">{{league.name}}</div>
            <div class="pure-u-1-3">{{league.owner}}</div>
        </div>
        <a class="pure-button" href="#/league/{{league.id}}/edit">Edit league</a>
        <a class="pure-button button-red" href="#/league/{{league.id}}/delete">Delete league</a>
    </div>
    <div class="pure-u-1-4">
    </div>
</div>
