<div class="pure-g">
    <div class="pure-u-1-4">
    </div>
    <div class="pure-u-1-2">
        <h2>{{team.name}}</h2>
        <form class="pure-form pure-form-aligned" ng-submit="submitEdit()" >
            <div class="pure-g">
                <div class="pure-u-1-2">
                    <label for="name">Team Name</label>
                    <input ng-model="teamName" type="text" placeholder="Name"/>
                </div>
                <div class="pure-u-1-2">
                    <label for="sport">Sport</label>
                    <select ng-model="sport" type="text" placeholder="Sport">
                        <option value="soccer">Soccer</option>
                        <option value="other">Other</option>
                    </select>
                </div>
            </div>
            <a class="pure-button pure-u-1-8 button-cancel" href="#/team/{{team.id}}">Cancel</a>
            <input type="submit" value="Save" class="pure-button pure-button-primary pure-u-1-8"/>
        </form>
    </div>
    <div class="pure-u-1-4">
    </div>
</div>
