<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>About</title>
    <link rel="stylesheet" href="../bower_components/pure/pure-min.css">
    <link rel="stylesheet" href="../bower_components/jquery-ui/themes/smoothness/jquery-ui.min.css">
    <link rel="stylesheet" href="../css/about.css">
    <script src="../bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../bower_components/jquery-ui/ui/minified/jquery-ui.min.js"></script>
    <script src="../bower_components/jqueryui-touch-punch/jquery.ui.touch-punch.min.js"></script>
    <script src="../bower_components/moment/min/moment.min.js"></script>
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/angular-cookies/angular-cookies.min.js"></script>
    <script src="../bower_components/angular-route/angular-route.js"></script>
    <script src="../bower_components/angular-resource/angular-resource.js"></script>
    <script src="../bower_components/jqueryui-timepicker-addon/dist/jquery-ui-timepicker-addon.min.js"></script>
</head>

<body>
<div class="pure-u-1-1"></div>
<div class="header">
    <font size="6">SportIM</font>
</div>
<div class="main_picture">
    <img class="mainImage" src="../images/teamPicture.jpg" />
</div>
<div class="pure-u-1-1"></div>
<div class="pure-u-1-1"></div>
<div>
    <div class="pure-u-1-4"></div>
    <div class="description pure-u-1-2">
        <font size="5">SportIM</font><font size="3"> is an open source sport statistics tracking system with integrated player, team and league management. By providing a plugin-based statistics tracking method, SportIM fills a long-lived gap in the amateur sports landscape. It allows for scheduling matches, practices, and tournaments and sending alerts to remind participants of these events. Additionally, team coaches and league administrators can track their players' and teams' progress throughout the season through intuitive statistics collection interfaces. With these features, SportIM provides a much-needed pairing of sports team management with quantitative measurements of team progress.</font>
    </div>
</div>
<div>
    <div class="pure-u-1-1"></div>
    <div class="pure-u-1-1"></div>
    <div class="pure-u-1-8"></div>

    <div class="pure-u-1-5">
        <img class="mainImage" src="../images/StevenBurnett.gif"/>
    </div>
    <div class="pure-u-1-5">
        <img class="mainImage" src="../images/JeffBrock.gif"/>
    </div>
    <div class="pure-u-1-5">
        <img class="mainImage" src="../images/HannahBrock.gif"/>
    </div>
    <div class="pure-u-1-5">
        <img class="mainImage" src="../images/DougHitchcock.gif"/>
    </div>
</div>
<div>
    <div class="pure-u-1-1"></div>
    <div class="pure-u-1-1"></div>
    <div class="pure-u-1-8"></div>

    <div class="description pure-u-1-5">
        <font size="5">Steven Burnett</font>
        <br>
        Steven is a software developer for Instructure.  He enjoys playing soccer and is an avid fan of Real Salt Lake.  Steven's responsibilities consisted of creating and managing events, brackets/tournaments, and look and feel for teams on the front end.  He also helped with league tables, Users, Team, and League creation, updating, and deletion.  Steven can be contacted by email at stevendburnett@gmail.com
    </div>
    <div class="description pure-u-1-5">
        <font size="5">Jeff Brock</font>
    </div>
    <div class="description pure-u-1-5">
        <font size="5">Hannah Brock</font>
    </div>
    <div class="description pure-u-1-5">
        <font size="5">Doug Hitchcock</font>
    </div>
</div>
</body>
</html>
