<!DOCTYPE html>
<html lang="en" ng-app="calendar">
<head>
    <meta charset="utf-8">
    <title>title</title>
    <link rel="stylesheet" href="/bower_components/pure/pure-min.css">
    <link rel="stylesheet" href="/bower_components/fullcalendar/fullcalendar.css">
    <link rel="stylesheet" href="/bower_components/fullcalendar/fullcalendar.print.css" media="print">
    <link rel="stylesheet" href="/bower_components/jquery-ui/themes/smoothness/jquery-ui.min.css">
    <link rel="stylesheet" href="/bower_components/bootstrap-timepicker/css/bootstrap-timepicker.min.css" />
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/calendar.css">
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/jquery-ui/ui/minified/jquery-ui.min.js"></script>
    <script src="/bower_components/moment/min/moment.min.js"></script>
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/angular-route/angular-route.js"></script>
    <script src="/bower_components/angular-resource/angular-resource.js"></script>
    <script src="/bower_components/angular-ui-calendar/src/calendar.js"></script>
    <script src="/bower_components/fullcalendar/fullcalendar.min.js"></script>
    <script src="/bower_components/fullcalendar/gcal.js"></script>
    <script src="/js/services.js"></script>
    <script src="/js/calendar.js"></script>
    <script>
    $(function() {
        $( "#startdatepicker" ).datepicker();
    });
    </script>
    <script>
    $(function() {
        $( "#enddatepicker" ).datepicker();
    });
    </script>
</head>
<body ng-controller="maincalendar" ng-click="tournamentModal=false; gameModal=false; inputModal=false">
    <div ng-include src="'/partials/header.html'"></div>
    <div class="pure-g calendar-container">
        <div class="pure-u-1-8">
        </div>
        <div class="pure-u-3-4">
            <div id="create-event" class="pure-button pure-button-primary calendar-button" ng-click="createEvent($event)">Create Event</div>
            <div id="create-tournament" class="pure-button pure-button-primary calendar-button" ng-click="tournamentModal=true; $event.stopPropagation()">Create Tournament</div>
            <div id="calendar" ui-calendar="calendarOptions" ng-model="eventSources"></div>
        </div>
        <div class="pure-u-1-8">
        </div>
    </div>
    <div id="game-modal" ng-show="gameModal">
        <div id="game-modal-eventname"></div>
        <div class="pure-button" id="game-modal-stats"><span>Stats</span></div>
        <div class="pure-button" id="game-modal-edit" ng-click="loadEvent($event);"><span>Edit</span></div>
        <div class="pure-button button-red" id="game-modal-delete"><span>Delete</span></div>
    </div>
    <div id="input-modal" ng-show="inputModal" ng-click="$event.stopPropagation()">
        <form class="pure-form pure-form-aligned" ng-submit="submitEvent()" >
            <fieldset>
                <div class="pure-control-group">
                    <label for="name">Event Title</label>
                    <input ng-model="eventTitle" type="text" placeholder="Title"/>
                </div>
                <div class="pure-control-group">
                    <label for="startDate">Start Date</label>
                    <input id="startdatepicker" ng-model="startDate" placeholder="Start Date"/>
                </div>
                <div class="pure-control-group">
                    <label for="startTime">Start Time</label>
                    <input id="startTime" ng-model="startTime" type="time"/>
                </div>
                <div class="pure-control-group">
                    <label for="startDate">End Date</label>
                    <input id="enddatepicker" ng-model="endDate" placeholder="End Date"/>
                </div>
                <div class="pure-control-group">
                    <label for="endTime">End Time</label>
                    <input id="endTime" ng-model="endTime" type="time"/>
                </div>
                <button class="pure-button pure-u-1-4 button-moreOptions">More Options</button>
                <div class="pure-u-1-5"></div>
                <div class="pure-u-1-6"></div>
                <button class="pure-button pure-u-1-8 button-cancel" ng-click="cancelEvent($event)">Cancel</button>
                <input type="submit" value="Submit" class="pure-button pure-button-primary pure-u-1-8"/>
            </fieldset>
        </form>
    </div>
    <div id="tournament-modal" ng-show="tournamentModal">
        <div>Create Tournament</div>
        <div class="pure-g">
            <div class="pure-u-1-2"><span><img src="../images/prevBracket.png" />Bracket</span></div>
            <div class="pure-u-1-2"><span><img src="../images/prevRoundRobin.png" />Round Robin</span></div>
            <div class="pure-u-1-2"><span><img src="../images/prevBracketCons.png" />Bracket (Consolation)</span></div>
            <div class="pure-u-1-2"><span><img src="../images/prevGroups.png" />Groups</span></div>
        </div>
    </div>
    <div id="page-cover" ng-show="tournamentModal || inputModal"></div>
</body>
</html>
