<!DOCTYPE html>
<html lang="en" ng-app="home">
    <head>
        <meta charset="utf-8">
        <title>Test App</title>
        <link rel="stylesheet" href="../css/common.css">
        <script src="../bower_components/angular/angular.js"></script>
        <script src="../bower_components/angular-route/angular-route.js"></script>
        <script src="../bower_components/angular-resource/angular-resource.js"></script>
        <script src="../js/services.js"></script>
        <script src="../js/home.js"></script>
    </head>
    <body>
        <h2>Home Page</h2>
        <div ng-controller="colors">
            <h3>Colors</h3>
            <ul ng-repeat="color in colors">
                <li>{{color}}</li>
            </ul>
        </div>
        <div ng-controller="users">
            <h3>Users</h3>
            <ul ng-repeat="user in users">
                <li>{{user.name}} - Age:{{user.age}} Password:{{user.password}} Id:{{user.id}}</li>
            </ul>
        </div>
    </body>
</html>
