<!DOCTYPE html>
<html lang="en" ng-app="home">
<head>
    <meta charset="utf-8">
    <title>Home</title>
    <link rel="stylesheet" href="../bower_components/pure/pure-min.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/newsFeed.css">
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/angular-cookies/angular-cookies.min.js"></script>
    <script src="../bower_components/angular-route/angular-route.js"></script>
    <script src="../bower_components/angular-resource/angular-resource.js"></script>
    <script src="../bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../bower_components/jquery-ui/ui/minified/jquery-ui.min.js"></script>
    <script src="../bower_components/moment/min/moment.min.js"></script>
    <script src="../js/services.js"></script>
    <script src="../js/home.js"></script>
</head>
<body>
    <div ng-include src="'../partials/header.html'"></div>
    <div class="pure-g">
        <div class="pure-menu pure-u-1-8"></div>
        <div ng-controller="feed" class="feeds-container pure-u-3-4">
            <h3 class="feed-head">Upcoming Games and Events</h3>
            <div class="feeds">
                <ul>
                    <li ng-hide="!noevents" class="odd"><span class="feed-event-title">{{noevents}}</span></li>
                    <li ng-class-odd="'odd'" class="pure-g" ng-repeat="event in events">
                        <span class="feed-event-date pure-u-1-8">
                            <span class="feed-event-day">{{event.startday}}</span>
                            <span class="feed-event-month">{{event.startmonth}}</span>
                        </span>
                        <span class="feed-event-title pure-u-3-4">{{event.title}}</span>
                        <span class="feed-event-date pure-u-1-8">
                            <span class="feed-event-time-start">{{event.start}}</span>
                            <span class="feed-event-time-end">{{event.end}}</span>
                        </span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="pure-u-1-8"></div>
    </div>
</body>
</html>
