<!DOCTYPE html>
<html lang="en" ng-app="home">
    <head>
        <meta charset="utf-8">
        <title>Home</title>
        <link rel="stylesheet" href="/bower_components/pure/pure-min.css">
        <link rel="stylesheet" href="/css/common.css">
        <link rel="stylesheet" href="/css/newsFeed.css">
        <script src="/bower_components/angular/angular.js"></script>
        <script src="/bower_components/angular-route/angular-route.js"></script>
        <script src="/bower_components/angular-resource/angular-resource.js"></script>
        <script src="/bower_components/jquery/dist/jquery.min.js"></script>
        <script src="/bower_components/jquery-ui/ui/minified/jquery-ui.min.js"></script>
        <script src="/js/services.js"></script>
        <script src="/js/home.js"></script>
    </head>
    <body>
    <div ng-include src="'/partials/header.html'"></div>
    <div class="main_container pure-g">
        <div class="pure-menu go_home pure-u-1-8">
            <u1>
                <li><a href="#">My Teams</a></li>
                <li><a href="#">My Leagues</a></li>
            </u1>
        </div>
        <div class="feeds_container pure-u-3-4">
            <h3 class="feed_head">News Feed</h3>
            <div id="feeds" class="feeds">
                <ul>
                    <li id=""></li>
                    <li id=""></li>
                    <li id=""></li>
                    <li id=""></li>
                    <li id=""></li>
                </ul>
            </div>
        </div>
        <div class="pure-u-1-8"></div>
        
    </div>
   <!--  <div style="text-algin: center; font-size: 20pt;">
        <form class="pure-form">
            <legend></legend>
        </form>
    </div>
	</div>
        <div ng-controller="colors">
            <h3>Colors</h3>
            <ul ng-repeat="color in colors">
                <li>{{color}}</li>
            </ul>
        </div>
        <div ng-controller="users">
            <h3>Users</h3>
            <ul ng-repeat="user in users">
                <li>{{user.name}} - Age:{{user.age}} Password:{{user.password}} Id:{{user.id}}</li>
            </ul>
        </div> -->
    </body>
</html>
