<!DOCTYPE html>
<html lang="en" ng-app="league">
<head>
    <meta charset="utf-8">
    <title>Team Page</title>
    <link rel="stylesheet" href="../bower_components/pure/pure-min.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/team.css">
    <link rel="stylesheet" href="../bower_components/jquery-ui/themes/smoothness/jquery-ui.min.css">
    <script src="../bower_components/jquery/jquery.min.js"></script>
    <script src="../bower_components/jquery-ui/ui/minified/jquery-ui.min.js"></script>
    <script src="../bower_components/moment/min/moment.min.js"></script>
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/angular-cookies/angular-cookies.min.js"></script>
    <script src="../bower_components/angular-route/angular-route.js"></script>
    <script src="../bower_components/angular-resource/angular-resource.js"></script>    
    <script src="../bower_components/d3/d3.min.js"></script>    
    <script src="../js/services.js"></script>
    <script src="../js/league.js"></script>
</head>
<body>
    <div ng-include src="'../partials/header.html'"></div>
    <div ng-view></div>
</body>
</html>
