<!DOCTYPE html>
<html lang="en" ng-app="login">
    <head>
        <meta charset="utf-8">
        <title>SportIM</title>
        <link rel="stylesheet" href="../bower_components/pure/pure-min.css">
        <link rel="stylesheet" href="../css/common.css">
        <link rel="stylesheet" href="../css/login.css">
        <script src="../bower_components/angular/angular.js"></script>
        <script src="../bower_components/angular-cookies/angular-cookies.min.js"></script>
        <script src="../bower_components/angular-route/angular-route.js"></script>
        <script src="../bower_components/angular-resource/angular-resource.js"></script>
        <script src="../bower_components/jquery/dist/jquery.min.js"></script>
        <script src="../bower_components/jquery-ui/ui/minified/jquery-ui.min.js"></script>
        <script src="../bower_components/moment/min/moment.min.js"></script>
        <script src="../js/services.js"></script>
        <script src="../js/login.js"></script>
    </head>
    <body ng-controller="login">
        <div class="login-header">
            <div class="sportim-logo" style="font-size: 45px;">Sport<span>IM</span></div>
        </div>
        <br>
        <div class="login">
            <form ng-submit="loginEvent()">
                <div id="errorMessage">
                    <font id="text" color="red">Invalid login Information</font>
                </div>
                <input id="email" type="text" placeholder="email" name="email" ng-model="email"><br>
                <input id="password" type="password" placeholder="password" name="password" ng-model="password"><br>
                <input type="submit" value="Login"><br>
                <a href="register.html">Sign up</a>
                <a href="about.html" class="float-right">About</a>
            </form>
        </div>
        <span id="image-license">Background Image: <a href="https://creativecommons.org/licenses/by-nd/2.0/">Some Rights Reserved</a>. Created by faungg: <a href="https://www.flickr.com/photos/44534236@N00/10373593623">Original</a></span>
    </body>

</html>
