<!DOCTYPE html>
<html lang="en" ng-app="login">
<head>
    <meta charset="utf-8">
    <title>SportsIM</title>
    <link rel="stylesheet" href="../bower_components/pure/pure-min.css">
    <link rel="stylesheet" href="../css/common.css">
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/angular-route/angular-route.js"></script>
    <script src="../bower_components/angular-resource/angular-resource.js"></script>
    <script src="../bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../bower_components/jquery-ui/ui/minified/jquery-ui.min.js"></script>
    <script src="../bower_components/moment/min/moment.min.js"></script>
    <script src="../js/services.js"></script>
    <script src="../js/login.js"></script>
</head>
<body>
	<form class="pure-form pure-form-aligned" ng-submit="loginEvent()">
		<label>Username:</label></br>
		<input type="text" name="username" ng-model="username"></br>
		<label>Password:</label></br>
		<input type="password" name="password" ng-model="password">
        </br></br>
        <input type="submit" value="Submit" ng-click="loginEvent()">
	</form>
</body>
</html>
