<!DOCTYPE html>
    <html lang="en" ng-app="logout">

    <head>
        <meta charset="utf-8">
        <title>SportsIM</title>
        <link rel="stylesheet" href="../bower_components/pure/pure-min.css">
        <link rel="stylesheet" href="../css/login.css">
        <script src="../bower_components/angular/angular.js"></script>
        <script src="../bower_components/angular-cookies/angular-cookies.min.js"></script>
        <script src="../js/logout.js"></script>
    </head>
    <body ng-controller="logout">
    </body>
</html>
