<!DOCTYPE html>
<html lang="en" ng-app="settings">
<head>
    <meta charset="utf-8">
    <title>Setting</title>
    <link rel="stylesheet" href="../bower_components/pure/pure-min.css">
    <link rel="stylesheet" href="../bower_components/jquery-ui/themes/smoothness/jquery-ui.min.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/settings.css">
    <script src="../bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../bower_components/jquery-ui/ui/minified/jquery-ui.min.js"></script>
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/angular-cookies/angular-cookies.min.js"></script>
    <script src="../bower_components/angular-resource/angular-resource.js"></script>
    <script src="../bower_components/angular-ui-calendar/src/calendar.js"></script>
    <script src="../js/services.js"></script>
    <script src="../js/settings.js"></script>
</head>
<body ng-controller="settingsc" ng-click="tournamentModal=false; gameModal=false; inputModal=false">
    <div ng-include src="'../partials/header.html'"></div>
    <form class="settings-form pure-form pure-form-aligned">
        <div class="pure-u-11-12">
            <label>Email Address</label>
            <input id="email" ng-model="email" type="text" name="focus" required class="settings-input" placeholder="Email" value={{email}} />
        </div>
        <div class="pure-g">
            <div class="pure-u-5-12">
                <label>First Name</label>
                <input ng-model="firstName" type="text" name="focus" required class="settings-input" placeholder="First Name" value={{firstName}} />
            </div>
            <div class="pure-u-1-12">
            </div>
            <div class="pure-u-5-12">
                <label>Last Name</label>
                <input ng-model="lastName" type="text" name="focus" required class="settings-input" placeholder="Last Name" value={{lastName}} />
            </div>
        </div>
        <div class="pure-u-5-12">
            <label>Phone Number</label>
            <input id="phoneNumber" ng-model="phonenumber" type="text" name="focus" required class="settings-input" placeholder="Phone Number" value={{phonenumber}} />
        </div>
        <div class="pure-g">
            <div class="pure-u-5-12">
                <label> Alert Hours Before Game</label>
                <input id="gameAlert" ng-model="gameAlert" type="text" name="focus" required class="settings-input" placeholder="Hours Before" value={{phonenumber}} />
            </div>
            <div class="pure-u-1-12">
            </div>
            <div class="pure-u-5-12">
                <label> Alert Hours Before Practice</label>
                <input id="practiceAlert" ng-model="practiceAlert" type="text" name="focus" required class="settings-input" placeholder="Hours Before" value={{phonenumber}} />
            </div>
        </div>
        <div class="pure-g">
            <div class="pure-u-5-12">
                <label> Alert Hours Before Meeting</label>
                <input id="meetingAlert" ng-model="meetingAlert" type="text" name="focus" required class="settings-input" placeholder="Hours Before" value={{phonenumber}} />
            </div>
            <div class="pure-u-1-12">
            </div>
            <div class="pure-u-5-12">
                <label> Alert Hours Before Other</label>
                <input id="otherAlert" ng-model="otherAlert" type="text" name="focus" required class="settings-input" placeholder="Hours Before" value={{phonenumber}} />
            </div>
            <div class="pure-u-1-2">
                <input id="recieveText" ng-model="recieveText" ng-init="recieveText=false" type="checkbox" name="recieveText">Recieve Text</input>
            </div>
            <div class="pure-u-1-2">
                <input id="recieveEmail" ng-model="recieveEmail" ng-init="recieveEmail=false" type="checkbox" name="recieveEmail">Recieve Email</input>
            </div>
        </div>
        <input type="submit" value="Submit" ng-click="submitEvent()" class="pure-button pure-button-primary"/>
    </form>
</body>
</html>
